/*
.netlify
!.gitattributes
!.gitignore
!.lfsconfig
!docker-compose.yml
!netlify.toml
!package.json
!README.md
!src
src/.cache
!public
public/*
!public/assets
!public/images
!public/manifest.webmanifest
!public/robots.txt
