:root {
  --step-s: #{rem(14)};
}

@media screen and (min-width: rem(768)) {
  :root {
    --step-s: #{rem(15)};
  }
}

// :root {
  // --step-ratio: (100 / 1920);
  // --step-s: clamp(#{rem(14)}, calc(1vw * (var(--step-ratio) * 15)), #{rem(15)});
  // --step-0: clamp(#{rem(16)}, calc(1vw * (var(--step-ratio) * 19)), #{rem(19)});
  // --step-1: clamp(#{rem(18)}, calc(1vw * (var(--step-ratio) * 26)), #{rem(26)});
  // --step-2: clamp(#{rem(20)}, calc(1vw * (var(--step-ratio) * 34)), #{rem(34)});
  // --step-3: clamp(#{rem(22)}, calc(1vw * (var(--step-ratio) * 46)), #{rem(46)});
  // --step-4: clamp(#{rem(26)}, calc(1vw * (var(--step-ratio) * 60)), #{rem(60)});
  // --step-5: clamp(#{rem(28)}, calc(1vw * (var(--step-ratio) * 80)), #{rem(80)});
// }

/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1920,19,1.333,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1920;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1920px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f-0-min: 16;
  --f-0-max: 19;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 18;
  --f-1-max: 26; // 25.33;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 20; // 20.25;
  --f-2-max: 34; // 33.76;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 22; // 22.78;
  --f-3-max: 46; // 45;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 26; // 25.63;
  --f-4-max: 60; // 59.99;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 28; // 28.83;
  --f-5-max: 80; // 79.97;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}

/* @link https://utopia.fyi/generator?c=320,16,1.125,1920,19,1.333,5,0,

:root {
  --umin-width: 320;
  --umax-width: 1920;
  --umin-size: 16;
  --umax-size: 19;
  --umin-ratio: 1.125;
  --umax-ratio: 1.333;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - ((var(--umin-width) / 16) * 1rem)) /
      ((var(--umax-width) / 16) - (var(--umin-width) / 16))
  );
}

@media screen and (min-width: 1920px) {
  :root {
    --fluid-screen: calc(var(--umax-width) * 1px);
  }
}

:root {
  --umax-negative: (1 / var(--umax-ratio) / var(--umax-ratio));
  --umin-negative: (1 / var(--umin-ratio) / var(--umin-ratio));

  --umin-scale-0: var(--umin-ratio);
  --umax-scale-0: var(--umax-ratio);
  --umin-size-0: (var(--umin-size)) / 16;
  --umax-size-0: (var(--umax-size)) / 16;
  --step-0: calc(
    (
      (var(--umin-size-0) * 1rem) + (var(--umax-size-0) - var(--umin-size-0)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-1: var(--umin-scale-0) * var(--umin-ratio);
  --umax-scale-1: var(--umax-scale-0) * var(--umax-ratio);
  --umin-size-1: (var(--umin-size) * var(--umin-scale-0)) / 16;
  --umax-size-1: (var(--umax-size) * var(--umax-scale-0)) / 16;
  --step-1: calc(
    (
      (var(--umin-size-1) * 1rem) + (var(--umax-size-1) - var(--umin-size-1)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-2: var(--umin-scale-1) * var(--umin-ratio);
  --umax-scale-2: var(--umax-scale-1) * var(--umax-ratio);
  --umin-size-2: (var(--umin-size) * var(--umin-scale-1)) / 16;
  --umax-size-2: (var(--umax-size) * var(--umax-scale-1)) / 16;
  --step-2: calc(
    (
      (var(--umin-size-2) * 1rem) + (var(--umax-size-2) - var(--umin-size-2)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-3: var(--umin-scale-2) * var(--umin-ratio);
  --umax-scale-3: var(--umax-scale-2) * var(--umax-ratio);
  --umin-size-3: (var(--umin-size) * var(--umin-scale-2)) / 16;
  --umax-size-3: (var(--umax-size) * var(--umax-scale-2)) / 16;
  --step-3: calc(
    (
      (var(--umin-size-3) * 1rem) + (var(--umax-size-3) - var(--umin-size-3)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-4: var(--umin-scale-3) * var(--umin-ratio);
  --umax-scale-4: var(--umax-scale-3) * var(--umax-ratio);
  --umin-size-4: (var(--umin-size) * var(--umin-scale-3)) / 16;
  --umax-size-4: (var(--umax-size) * var(--umax-scale-3)) / 16;
  --step-4: calc(
    (
      (var(--umin-size-4) * 1rem) + (var(--umax-size-4) - var(--umin-size-4)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-5: var(--umin-scale-4) * var(--umin-ratio);
  --umax-scale-5: var(--umax-scale-4) * var(--umax-ratio);
  --umin-size-5: (var(--umin-size) * var(--umin-scale-4)) / 16;
  --umax-size-5: (var(--umax-size) * var(--umax-scale-4)) / 16;
  --step-5: calc(
    (
      (var(--umin-size-5) * 1rem) + (var(--umax-size-5) - var(--umin-size-5)) *
        var(--fluid-bp)
    )
  );
}
 */
