.Bio {
  align-items: flex-start;
  display: flex;

  & > figure {
    flex: 0 0 rem(80);
    order: 2;
  }

  & div {
    flex: 1 1 auto;
    margin-right: rem(18);
  }

  img {
    border: rem(2) solid var(--color-secondary);
    border-radius: 100%;
    height: rem(80);
    width: rem(80);
  }
}

@supports (shape-outside: circle(50%)) {
  .Bio {
    display: block;

    & > figure {
      float: right;
      shape-outside: circle(50%);
      margin: 0 0 rem(9) rem(18);
    }
  }
}
