.Bio {
  align-items: flex-start;
  display: flex;

  figure,
  img {
    height: rem(80);
    width: rem(80);
  }

  figure {
    flex: 0 0 rem(80);
    margin: 0 0 rem(9) 0;
    margin-inline-start: rem(18);
    order: 2;
  }

  div {
    flex: 1 1 auto;
  }

  img {
    border: rem(2) solid rgbvar(--color-secondary);
    border-radius: 100%;
  }
}

@supports (shape-outside: circle(50%)) {
  .Bio {
    display: block;

    & > figure {
      float: right;
      float: inline-end;
      shape-outside: circle(50%);
    }
  }

  @supports not (float: inline-end) {
    [dir='rtl'] .Bio > figure {
      float: left;
    }
  }
}
