.Button {
  -moz-appearance: none;
  appearance: none;
  background: hsl(var(--color-background2));
  border: rem(2) solid hsla(var(--color-primary), 0.5);
  border-top: 0;
  border-left: 0;
  border-radius: rem(5);
  box-shadow: rem(-1) rem(-1) 0 hsl(var(--color-quaternary)),
    rem(2) rem(2) 0 0 hsla(var(--db-black), 0.1);
  color: hsl(var(--color-primary));
  display: inline-block;
  font-size: var(--step-s);
  font-weight: 600;
  line-height: 1;
  letter-spacing: rem(0.5);
  padding: rem(8) rem(14);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 200ms, border 200ms;

  &:hover {
    border-color: hsl(var(--color-primary));
    color: hsl(var(--color-tertiary));
    cursor: pointer;
  }

  &:focus {
    outline: var(--outline);
    outline-offset: rem(4);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
