.Card {
  display: block;
  margin: 0 0 rem(36) 0;

  &:last-child {
    margin-bottom: 0;
  }

  & > *:first-child {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: rem(18);

    & > * {
      margin: 0;

      &:first-child {
        margin: 0 rem(18) 0 0;
      }

      &:only-child {
        margin-right: 0;
      }
    }
  }
}
