.Crane {
  align-items: center;
  display: grid;
  grid-gap: rem(18);
  grid-template-columns: 100%;
  margin-bottom: rem(36);

  &:last-child {
    margin-bottom: 0;
  }

  img {
    margin: auto;
    transform: translateX(-5%);
    width: auto;

    .Darkmode & {
      filter: saturate(0.9) brightness(0.8) contrast(1.1) hue-rotate(35deg);
    }
  }
}

@media (max-width: rem(399)) {
  .Crane {
    img {
      max-width: 50%;
    }

    .List,
    .Button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: max-content;
    }
  }
}

@media (min-width: rem(400)) {
  .Crane {
    grid-template-columns: minmax(auto, 50%) auto;
  }
}

@media (min-width: rem(600)) {
  .Crane {
    grid-gap: rem(36);
  }
}
