.Image {
  margin: 0;
  max-width: none;

  img,
  video {
    display: block;
    background-color: hsla(var(--db-black), 0.2);
    border-radius: rem(3);
    border: rem(2) solid hsl(var(--color-background));
    box-shadow: rem(-4) 0 0 rem(-2) hsl(var(--color-secondary)),
      rem(4) rem(4) 0 0 hsla(var(--db-black), 0.2);
    margin: rem(36) 0;
    position: relative;
  }

  figcaption {
    margin: rem(-18) 0 rem(27) 0;
  }
}

.Image--basic {
  img {
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }
}
