.Layout {
  display: block;
  margin: 0 auto;

  .Masthead {
    width: 100%;
    margin: 0 calc(-0.5 * var(--wrapper-margin)) rem(18) auto;
  }
}

@media screen and (min-width: rem(400)) {
  .Layout {
    .Masthead {
      width: percentage(1 / 1.25);
    }
  }
}

@media screen and (min-width: rem(600)) {
  .Layout {
    .Masthead {
      width: percentage(1 / 1.618);
    }
  }
}

@media screen and (min-width: rem(768)) {
  .Layout {
    align-items: start;
    display: grid;
    grid-column-gap: 0;
    grid-template-rows: auto 1fr;
    grid-template-columns:
      calc(60% - var(--wrapper-margin)) var(--wrapper-margin)
      auto;
    max-width: none;

    & > * {
      min-width: 0;
    }

    .Masthead {
      grid-column: 3 / 4;
      grid-row: 1;
      margin-bottom: rem(36);
      margin-left: calc(-0.5 * var(--wrapper-margin));
      width: auto;
    }

    .Featured {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      margin-bottom: 0;
      max-width: 100%;
    }

    .Main {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      margin-bottom: 0;
      max-width: 100%;
      padding-top: rem(100);
    }
  }
}

@media screen and (min-width: rem(1240)) {
  .Layout {
    grid-template-columns:
      auto var(--wrapper-margin)
      calc(50% - var(--wrapper-margin));
  }
}
