.Lightbulb {
  --lightbulb-stroke: hsl(var(--db-blue));
  --lightbulb-fill: hsl(var(--db-yellow));
  --lightbulb-rays: 1;
  height: auto;
  left: var(--wrapper-margin);
  padding: rem(9);
  padding-top: rem(18);
  position: absolute;
  top: 0;
  transform: translateY(rem(-9));
  transition: transform 100ms;
  width: rem(45);
  z-index: 10;

  &:before {
    background: var(--lightbulb-stroke);
    bottom: calc(100% - #{rem(19)});
    content: '';
    display: block;
    height: rem(36);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: rem(1);
  }

  &:hover {
    transform: translateY(0);
    --lightbulb-stroke: hsl(var(--db-blue));
    --lightbulb-fill: hsla(var(--db-blue), 0.5);
    --lightbulb-rays: 0;
  }

  &:focus {
    outline: var(--outline);
  }

  path {
    transition: fill 100ms, opacity 100ms;
  }

  .Noscript & {
    display: none;
  }

  .Darkmode & {
    --lightbulb-stroke: hsl(var(--db-green));
    --lightbulb-fill: transparent;
    --lightbulb-rays: 0;

    &:focus,
    &:hover {
      --lightbulb-stroke: hsl(var(--db-yellow));
      --lightbulb-fill: hsla(var(--db-yellow, 0.5));
      --lightbulb-rays: 1;
    }
  }
}

@media screen and (max-width: rem(399)) {
  .Lightbulb {
    margin-left: rem(-12);
  }
}
