.Lightbulb {
  --lightbulb-stroke: var(--db-blue);
  --lightbulb-fill: var(--db-yellow);
  --lightbulb-rays: 1;
  height: auto;
  left: var(--wrapper-margin);
  padding: rem(9);
  padding-top: rem(18);
  position: absolute;
  top: 0;
  transform: translateY(rem(-9));
  transition: transform 100ms;
  width: rem(45);
  z-index: 10;

  &:before {
    background: var(--lightbulb-stroke);
    bottom: calc(100% - #{rem(19)});
    content: '';
    display: block;
    height: rem(36);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: rem(1);
  }

  &:focus,
  &:hover {
    transform: translateY(0);
    --lightbulb-stroke: var(--db-blue);
    --lightbulb-fill: #{rgbvar(--db-blue, 0.5)};
    --lightbulb-rays: 0;
  }

  path {
    transition: fill 100ms, opacity 100ms;
  }

  .Noscript & {
    display: none;
  }

  .Darkmode & {
    --lightbulb-stroke: var(--db-green);
    --lightbulb-fill: transparent;
    --lightbulb-rays: 0;

    &:focus,
    &:hover {
      --lightbulb-stroke: var(--db-yellow);
      --lightbulb-fill: #{rgbvar(--db-yellow, 0.5)};
      --lightbulb-rays: 1;
    }
  }
}
