.List,
.Prose ul:not([class]),
.Prose ol:not([class]) {
  margin: rem(27) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    font-size: var(--step-0);
    margin-bottom: rem(9);
    max-width: 70ch;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    font-weight: 500;

    &:not(:hover) {
      color: hsl(var(--color-primary2));
    }
  }
}

.List--ordered,
.Prose ol:not([class]) {
  counter-reset: ol-counter;
  list-style: none outside;

  & > li {
    &::before {
      background: none;
      content: counter(ol-counter) '.';
      counter-increment: ol-counter;
      color: hsl(var(--color-secondary));
      display: inline-block;
      font-family: 'Comic Neue', 'Raleway', sans-serif;
      font-style: italic;
      font-size: var(--step-0);
      font-weight: 600;
      margin: 0 0 0 rem(-36);
      padding-right: rem(9);
      text-align: right;
      width: rem(36);
    }

    &:nth-child(1n + 10)::before {
      font-size: 70%;
    }
  }
}

@media (max-width: rem(767)) {
  .List--ordered,
  .Prose ol:not([class]) {
    & > li {
      &::before {
        font-size: var(--step-s);
        margin-left: rem(-27);
        padding-right: rem(5);
        width: rem(27);
      }
    }
  }
}

.List--large {
  margin: rem(36) 0;

  a {
    --color-primary2: var(--color-primary);
    font-weight: 600;
  }
}

.List--small {
  li {
    font-size: var(--step-s);
  }
}

.List--columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: rem(36);
  margin: rem(36) 0;
}

.List--folio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: rem(18);
  grid-row-gap: rem(18);
  margin: rem(45) 0;
  max-width: rem(320 + 320 + 18);

  li {
    background: transparent !important;
    margin: 0;
    max-width: max-content;

    &::before {
      display: none;
    }

    &:nth-child(odd) img {
      transform: scale(0.9) rotateY(-15deg) rotateX(2deg);
    }
    &:nth-child(even) img {
      transform: scale(0.9) rotateY(15deg) rotateX(2deg);
    }
  }

  a {
    display: block;
    perspective: 500px;
    text-decoration: none;
    background: none !important;

    &:focus,
    &:hover {
      img {
        transform: translateZ(0);
      }
    }
  }

  img {
    backface-visibility: hidden;
    background-color: hsl(var(--db-black), 0.2);
    border-radius: rem(9);
    border: rem(2) solid hsl(var(--color-background));
    box-shadow: rem(-4) 0 0 rem(-2) hsl(var(--color-secondary)),
      rem(4) rem(4) 0 0 hsl(var(--db-black), 0.2);
    display: block;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transition: transform 300ms;
  }
}

@media (min-width: rem(768)) {
  .List--large {
    li {
      font-size: var(--step-1);
      margin-bottom: rem(18);
    }
  }

  .List--columns {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .List--folio {
    grid-row-gap: rem(36);
    grid-template-columns: 1fr 1fr 1fr;
    max-width: none;
  }
}

@media (max-width: rem(767)) {
  .List--columns {
    grid-column-gap: rem(27);
  }
}
