.Masthead {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 50%;
  }

  &:after {
    background: rgbvar(--masthead-primary);
    border-radius: 100%;
    content: '';
    display: block;
    height: 140%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-67%) rotateZ(-8deg);
    width: 110%;
    z-index: 1;
  }

  .Logo {
    position: absolute;
    top: 21%;
    right: calc(17% + 0.5 * var(--wrapper-margin));
    width: 75%;
    z-index: 2;
  }

  .Sign {
    position: absolute;
    top: 5%;
    right: calc(0.5 * var(--wrapper-margin));
    width: 30%;
    z-index: 3;
  }
}

@media screen and (max-width: rem(399)) {
  .Masthead {
    &:after {
      height: 150%;
      width: 125%;
    }
  }
}
