.Nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-9);
  }

  li {
    flex: 0 0 auto;
    margin: 0 rem(4.5);
  }

  a {
    align-items: center;
    display: flex;
    padding: rem(4.5);
    font-size: var(--step-s);
    letter-spacing: rem(0.5);
    font-weight: 700;
    text-transform: uppercase;
  }
}

.Contact {
  fill: currentColor;
  transform: translateY(rem(4));
}

.Home {
  path {
    &:nth-of-type(1) {
      fill: currentColor;
    }

    &:nth-of-type(2) {
      fill: none;
      stroke: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;
    }
  }
}
