.Nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: rem(-4.5) rem(-9);
  }

  li {
    flex: 0 0 auto;
    margin: 0;
  }

  a {
    align-items: center;
    display: flex;
    font-size: var(--step-s);
    font-weight: 700;
    letter-spacing: rem(0.5);
    margin: 0 rem(4.5);
    min-height: 100%;
    padding: rem(4.5);
    text-transform: uppercase;
    outline-offset: rem(-2.25);

    &[aria-current='page'] {
      --anchor-opacity: 0;
      color: hsl(var(--color-secondary2));
    }
  }
}
