.Pagination {
  display: flex;
  justify-content: space-between;

  .Button {
    align-items: center;
    display: flex;

    svg {
      fill: currentColor;
      height: rem(12);
      stroke: currentColor;
      width: rem(12);

      &:first-child {
        margin-inline: rem(-4) rem(6);
      }

      &:last-child {
        margin-inline: rem(6) rem(-4);
      }
    }
  }
}
