.Social {
  align-items: center;
  display: flex;
  margin: rem(18) rem(-4.5) 0 0;

  svg {
    border-radius: rem(5);
    box-shadow: rem(1.5) rem(1.5) 0 0 rgbvar(--db-black, 0.1);
    fill: currentColor;
    height: rem(24);
    transform: var(--transform);
    transition: transform 150ms;
    width: auto;
  }

  .Button {
    margin-right: auto;
    white-space: nowrap;
  }

  a:not(.Button) {
    display: block;
    padding: rem(4.5);
    perspective: 50px;
    position: relative;
    text-decoration: none;
    --transform: rotateY(5deg) rotateX(10deg) rotateZ(5deg);

    &:focus,
    &:hover {
      --transform: scale(1.1);
    }
  }
}
