.Wrapper {
  display: grid;
  grid-template-columns:
    minmax(var(--wrapper-margin), auto)
    minmax(var(--wrapper-min), var(--wrapper-max))
    minmax(var(--wrapper-margin), auto);

  & > * {
    grid-column: 2 / 3;
    min-width: 0;
    max-width: 100%;
  }
}

:root {
  --wrapper-margin: #{rem(27)};
  --wrapper-max: calc(#{rem(1920)} - var(--wrapper-margin) * 2);
  --wrapper-min: calc(#{rem(320)} - var(--wrapper-margin) * 2);
}

@media screen and (min-width: rem(400)) {
  :root {
    --wrapper-margin: 7vw;
  }
}

@media screen and (min-width: rem(768)) {
  :root {
    --wrapper-margin: 5vw;
  }
}

@media screen and (min-width: rem(1920)) {
  :root {
    --wrapper-margin: #{rem(100)};
  }
}
