:root {
  --step-s: #{rem(14)};
}

@media screen and (min-width: rem(768)) {
  :root {
    --step-s: #{rem(15)};
  }
}

/* @link https://utopia.fyi/generator?c=320,16,1.125,1920,19,1.333,5,0, */

:root {
  --umin-width: 320;
  --umax-width: 1920;
  --umin-size: 16;
  --umax-size: 19;
  --umin-ratio: 1.125;
  --umax-ratio: 1.333;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - ((var(--umin-width) / 16) * 1rem)) /
      ((var(--umax-width) / 16) - (var(--umin-width) / 16))
  );
}

@media screen and (min-width: 1920px) {
  :root {
    --fluid-screen: calc(var(--umax-width) * 1px);
  }
}

:root {
  --umax-negative: (1 / var(--umax-ratio) / var(--umax-ratio));
  --umin-negative: (1 / var(--umin-ratio) / var(--umin-ratio));

  --umin-scale-0: var(--umin-ratio);
  --umax-scale-0: var(--umax-ratio);
  --umin-size-0: (var(--umin-size)) / 16;
  --umax-size-0: (var(--umax-size)) / 16;
  --step-0: calc(
    (
      (var(--umin-size-0) * 1rem) + (var(--umax-size-0) - var(--umin-size-0)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-1: var(--umin-scale-0) * var(--umin-ratio);
  --umax-scale-1: var(--umax-scale-0) * var(--umax-ratio);
  --umin-size-1: (var(--umin-size) * var(--umin-scale-0)) / 16;
  --umax-size-1: (var(--umax-size) * var(--umax-scale-0)) / 16;
  --step-1: calc(
    (
      (var(--umin-size-1) * 1rem) + (var(--umax-size-1) - var(--umin-size-1)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-2: var(--umin-scale-1) * var(--umin-ratio);
  --umax-scale-2: var(--umax-scale-1) * var(--umax-ratio);
  --umin-size-2: (var(--umin-size) * var(--umin-scale-1)) / 16;
  --umax-size-2: (var(--umax-size) * var(--umax-scale-1)) / 16;
  --step-2: calc(
    (
      (var(--umin-size-2) * 1rem) + (var(--umax-size-2) - var(--umin-size-2)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-3: var(--umin-scale-2) * var(--umin-ratio);
  --umax-scale-3: var(--umax-scale-2) * var(--umax-ratio);
  --umin-size-3: (var(--umin-size) * var(--umin-scale-2)) / 16;
  --umax-size-3: (var(--umax-size) * var(--umax-scale-2)) / 16;
  --step-3: calc(
    (
      (var(--umin-size-3) * 1rem) + (var(--umax-size-3) - var(--umin-size-3)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-4: var(--umin-scale-3) * var(--umin-ratio);
  --umax-scale-4: var(--umax-scale-3) * var(--umax-ratio);
  --umin-size-4: (var(--umin-size) * var(--umin-scale-3)) / 16;
  --umax-size-4: (var(--umax-size) * var(--umax-scale-3)) / 16;
  --step-4: calc(
    (
      (var(--umin-size-4) * 1rem) + (var(--umax-size-4) - var(--umin-size-4)) *
        var(--fluid-bp)
    )
  );

  --umin-scale-5: var(--umin-scale-4) * var(--umin-ratio);
  --umax-scale-5: var(--umax-scale-4) * var(--umax-ratio);
  --umin-size-5: (var(--umin-size) * var(--umin-scale-4)) / 16;
  --umax-size-5: (var(--umax-size) * var(--umax-scale-4)) / 16;
  --step-5: calc(
    (
      (var(--umin-size-5) * 1rem) + (var(--umax-size-5) - var(--umin-size-5)) *
        var(--fluid-bp)
    )
  );
}
