@function rem($px, $base: 16) {
  @return ($px / $base) + rem;
}

@font-face {
  font-family: 'Komika';
  src: url('/assets/fonts/komika-title.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  // Basic Latin
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-variable.woff2') format('woff2');
  font-display: swap;
  font-weight: 1 900;
  font-style: normal;
  // Basic Latin, Latin-1 Supplement, General Punctuation
  unicode-range: U+0020-007F, U+00A0-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-italic-variable.woff2') format('woff2');
  font-display: swap;
  font-weight: 1 900;
  font-style: italic;
  // Basic Latin, Latin-1 Supplement, General Punctuation
  unicode-range: U+0020-007F, U+00A0-00FF, U+2000-206F;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('/assets/fonts/comic-neue-bold-italic.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  // Basic Latin
  unicode-range: U+0020-007F;
}

@import 'src/scss/includes/utopia.scss';

:root {
  --db-light: 40, 100%, 97%; // 255, 250, 240;
  --db-dark: 0, 7%, 29%; // 80, 70, 70;
  --db-pink: 350, 100%, 69%; // 255, 100, 125;
  --db-red: 350, 63%, 52%; // 210, 55, 80;
  --db-green: 157, 61%, 75%; // 150, 230, 200;
  --db-blue: 194, 82%, 41%; // 20, 150, 190;
  --db-blue2: 194, 82%, 31%; // 15, 110, 155;
  --db-yellow: 55, 100%, 87%; // 255, 250, 190;
  --db-white: 0, 0%, 100%; // 255, 255, 255;
  --db-black: 0, 5%, 20%; // 55, 50, 50;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.translated-rtl {
  direction: rtl;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: 0;
}

img,
svg,
video {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  background: transparent;
  appearance: none;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: hsl(var(--color-primary));
  text-decoration-line: underline;
  text-decoration-thickness: 5%;
  text-decoration-skip-ink: all;
  text-decoration-color: hsla(var(--color-primary), 0.5);
  text-underline-offset: 15%;
  transition: color 200ms, background 200ms, text-decoration-color 200ms,
    text-decoration 200ms;

  &:hover {
    color: hsl(var(--color-tertiary));
    text-decoration-color: hsla(var(--color-primary), 0);
  }

  &:focus {
    outline: var(--outline);
    outline-offset: rem(2);
    text-decoration-color: hsla(var(--color-primary), 0);

    &:not(:focus-visible) {
      outline: none;
    }
  }

  &:active {
    outline: none;
  }

  cite > &,
  small > &,
  p:not([class]) > & {
    &:not(:hover) {
      color: hsl(var(--color-primary2));
    }
  }
}

:is(.List, .Prose, .Star) a {
  &:not([class]) {
    background-image: linear-gradient(
      to right,
      hsla(var(--color-primary), 0.2),
      hsla(var(--color-primary), 0.2)
    );
    background-position: bottom 5% left;
    background-repeat: repeat-x;
    background-size: 100% 0;

    &:hover {
      background-position: bottom center;
      background-size: 100% 20%;
    }
  }
}

b,
strong {
  font-weight: 600;
}

abbr {
  &[title] {
    border: none;
    text-decoration: none;
  }
}

small {
  font-size: var(--step-s);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--step-0);
  margin: 0 0 rem(18) 0;
  max-width: 70ch;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
  }
}

blockquote {
  margin: rem(36) 0;
  margin-inline-start: rem(18);
  padding-inline-start: rem(18);
  border-inline-start: rem(1) solid hsl(var(--color-tertiary));

  p {
    font-style: italic;
  }

  cite {
    font-size: var(--step-s);
    font-weight: 500;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--color-primary));
  font-size: var(--step-1);
  font-weight: 600;
  line-height: 1.5;
  margin: rem(27) 0 rem(18) 0;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: var(--step-5);
  line-height: 1.25;
  margin: rem(18) 0;
}

@media screen and (min-width: rem(600)) {
  h1 {
    margin: rem(36) 0;
  }

  h2,
  h3 {
    margin-top: rem(36);
  }
}

h2 {
  font-size: var(--step-2);
  line-height: 1.4;
}

h3 {
  font-size: var(--step-1);

  .Cursive {
    font-size: var(--step-0);
  }
}

.Large {
  font-size: var(--step-1);
}

.Comic {
  font-family: 'Komika', 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;

  .Hyphen {
    display: inline-block;
    transform: translateX(20%) translateY(5%);
  }
}

.Time,
.Cursive {
  color: hsl(var(--color-secondary2));
  font-family: 'Comic Neue', 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: rem(-0.5);
}

.Time {
  display: inline-block;
  font-size: var(--step-0);
}

.Error {
  color: hsl(var(--db-red));
}

pre,
code {
  font-family: 'Fira Code Light', 'Fira Code', monospace;
  font-size: var(--step-s);
  font-weight: 300;
}

:not(pre) > code {
  background-image: linear-gradient(
    to right,
    hsla(var(--color-secondary), 0.2) 1ch,
    transparent 1ch
  );
  background-position: bottom 5% left;
  background-repeat: repeat-x;
  background-size: 1.5ch 10%;
  color: hsl(var(--color-secondary2));
  display: inline;
  font-size: 90%;
  font-weight: 500;
}

pre {
  color: hsl(var(--db-light));
  background: hsl(var(--db-dark));
  direction: ltr;
  height: auto;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  margin: rem(36) 0 rem(36) rem(-18);
  overflow: auto;
  padding: rem(18);
  -moz-tab-size: 2;
  tab-size: 2;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

// @import 'src/scss/components/**/*.scss';
