@function rem($px, $base: 16) {
  @return ($px / $base) + rem;
}

@function rgbvar($color, $alpha: 1) {
  @if $alpha == 1 {
    @return unquote('rgb(var(#{$color}))');
  } @else {
    @return unquote('rgba(var(#{$color}), #{$alpha})');
  }
}

@font-face {
  font-family: 'Komika';
  src: url('/assets/fonts/komika-title.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-variable.woff2') format('woff2');
  font-display: swap;
  font-weight: 1 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-italic-variable.woff2') format('woff2');
  font-display: swap;
  font-weight: 1 900;
  font-style: italic;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('/assets/fonts/comicneue-bolditalic.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}

@import 'src/scss/includes/utopia.scss';

:root {
  --db-light: 255, 250, 240;
  --db-dark: 80, 70, 70;
  --db-pink: 255, 100, 125;
  --db-red: 210, 55, 80;
  --db-green: 150, 230, 200;
  --db-blue: 20, 150, 190;
  --db-blue2: 15, 110, 155;
  --db-yellow: 255, 250, 190;
  --db-white: 255, 255, 255;
  --db-black: 55, 50, 50;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.translated-rtl {
  direction: rtl;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: 0;
}

img,
svg,
video {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  background: transparent;
  appearance: none;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: rgbvar(--color-primary);
  text-decoration-line: underline;
  text-decoration-thickness: 5%;
  text-decoration-skip-ink: all;
  text-decoration-color: rgbvar(--color-primary, 0.5);
  text-underline-offset: 15%;
  transition: color 200ms, background 200ms, text-underline-offset 200ms,
    text-decoration 200ms;

  &:hover {
    color: rgbvar(--color-tertiary);
    text-decoration-thickness: 15%;
    text-decoration-skip-ink: none;
    text-decoration-color: rgbvar(--color-primary, 0.1);
    text-underline-offset: 10%;
  }

  &:focus {
    text-decoration-color: rgbvar(--color-primary, 0.1);
    outline: var(--outline);
    outline-offset: rem(2);
  }

  &:active {
    outline: none;
  }

  cite > &,
  small > &,
  p:not([class]) > & {
    &:not(:hover) {
      color: rgbvar(--color-primary2);
    }
  }
}

b,
strong {
  font-weight: 600;
}

abbr {
  &[title] {
    border: none;
    text-decoration: none;
  }
}

small {
  font-size: var(--step-s);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--step-0);
  margin: 0 0 rem(18) 0;
  max-width: 70ch;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
  }
}

blockquote {
  margin: rem(36) 0;
  margin-inline-start: rem(18);
  padding-inline-start: rem(18);
  border-inline-start: rem(1) solid rgbvar(--color-tertiary);

  p {
    font-style: italic;
  }

  cite {
    font-size: var(--step-s);
    font-weight: 500;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgbvar(--color-primary);
  font-size: var(--step-1);
  font-weight: 600;
  line-height: 1.5;
  margin: rem(27) 0 rem(18) 0;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: var(--step-5);
  line-height: 1.25;
  margin: rem(18) 0;
}

@media screen and (min-width: rem(600)) {
  h1 {
    margin: rem(36) 0;
  }

  h2,
  h3 {
    margin-top: rem(36);
  }
}

h2 {
  font-size: var(--step-2);
  line-height: 1.4;
}

h3 {
  font-size: var(--step-1);

  .Cursive {
    font-size: var(--step-0);
  }
}

.Large {
  font-size: var(--step-1);
}

.Comic {
  font-family: 'Komika', 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;

  .Hyphen {
    display: inline-block;
    transform: translateX(20%) translateY(5%);
  }
}

.Time,
.Cursive {
  color: rgbvar(--color-secondary2);
  font-family: 'Comic Neue', 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: rem(-0.5);
}

.Time {
  display: inline-block;
  font-size: var(--step-0);
}

.Error {
  color: rgbvar(--db-red);
}

pre,
code {
  font-family: 'Fira Code', monospace;
  font-size: var(--step-s);
  font-weight: 300;
}

p > code {
  display: inline-block;
  padding: 0 rem(5);
}

pre {
  color: rgbvar(--db-light);
  background: rgbvar(--db-dark);
  direction: ltr;
  height: auto;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  margin: rem(36) 0 rem(36) rem(-18);
  overflow: auto;
  padding: rem(18);
  -moz-tab-size: 2;
  tab-size: 2;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

@import 'src/scss/components/**/*.scss';
